/*
Challenge:
Style the app according to the provided design.
The font is called "Happy Monkey" and can be
embedded via Google Fonts.

Don't know how to make an image round? Google it!
Also, consider how you should select the image 
(class vs id vs element selector).
*/

body {
    text-align: center;
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;
    background: #a2d2ff;
    color: #ffffff;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shadowing {
    text-shadow: 0px 0px 1px black;
}

#Nick {
    border-radius: 50%;
    width: 200px;
    border: 8px solid #EFB0C9;
}

#bday-age {
    background: #EFB0C9;
    padding: 8px 16px;
    border-radius: 8px;
} 

#bday-date {
    background: #EFB0C9;
    padding: 7px 14px;
    border-radius: 5px;
}

.gift-section {
    font-family: "Happy Monkey", system-ui;
    text-align: center;
    margin-top: 50px;

}

.happy {
    margin-bottom: 10;
}

.hover {
    margin-top: 0;
    margin-bottom: 30px;
}
.gift {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    border: 7px solid;
    background-image: url("images/gift-cover.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.gift:hover {
    background-image: url("images/happy.gif");
    background-size: cover;
    height: 400px;
}

/* Heading elements are by default display: block; 
    Problem: my image is not showing on the page when I use the background-image property.
    Solution: it is there, but you need to set a height, otherwise the default is 0px!
    - Make sure to use margin-left: auto and margin-right: auto;
*/